* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto';
  font-size: 18px;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1F2937;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 16px;
  list-style: none;
  color: #E5E7EB;
}

nav li {
  cursor: pointer;
}

header > p {
  font-size: 24px;
  color: #F9FAF8;
}

main {
  background: #1F2937;
  display: flex;
  padding: 80px 40px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #F9FAF8;
  width: 50%;
  text-align: center;
}

.main-pic {
  height: 200px;
}

section > h1 {
  font-size: 48px;
}

section > button {
  background-color: #3883F6;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  color: #F9FAF8;
  cursor: pointer;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 60px 120px;
}

.info-section > h2 {
  font-size: 36px;
  font-weight: 900;
}

.info-boxes {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.empty-box {
  border: 3px solid #3883F6;
  height: 140px;
  width: 140px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.box-text {
  padding: 0 48px;
  text-align: center;
  font-size: 16px;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 100px 240px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1F2937;
}

.author {
  text-align: right;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 900;
}

.sign-up-section {
  background-color: #3883F6;
  display: flex;
  margin: 80px 180px;
  padding: 40px 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.left-section {
  color: #F9FAF8;
}

.sign-up-upper-text {
  font-size: 22px;
  font-weight: 800;
}

.sign-up-lower-text {
  margin-top: 2px;
  color: #E5E7EB;
}

.sign-up-section button {
  border: 1.5px solid #F9FAF8;
  padding: 5px 24px;
  font-weight: 600;
}

footer {
  background: #1F2937;
  padding: 40px;
  color: #F9FAF8;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}